@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.2s ease all;
  cursor: pointer;
}
.select-button:hover {
  width: 32px;
  height: 32px;
}
